html {
    font-size: 62.5%;
    box-sizing: border-box;
  }
  
  body {
    font-family: 'Press Start 2P', sans-serif;
    color: #eee;
    background-color: #222;
    /* background-color: #60b347; */
    padding: 20px;
  }
.top_right {
    font-size: 1.5rem;
  position: absolute;
  top: 2rem;
  right: 2rem;
  color: rgb(207, 15, 15);

}

h1 {
    font-size: 4rem;
    text-align: center;
    position: absolute;
    width: 100%;
    top: 11%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: Arial, Helvetica, sans-serif;
  }

.top_left {
    font-size: 1.5rem;
    position: absolute;
    top: 2rem;
    left: 2rem;
    color: rgb(255, 30, 0);
}

.top10 {
width: 400px;
padding: 200px;
margin-right: 600px;    

    
}

.topv {
  width: 5000px;
  height: 9000px;
  padding: 210px;
  margin-left: 300px;  
  margin-top: 900px;
}
.masthead {
    min-height: 30rem;
    position: relative;
    width: 100%;
    height: auto;
    padding-top: 15rem;
    padding-bottom: 15rem;
    
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
  }
main {
    height: 65vh;
    color: #eee;
    display: flex;
    align-items: center;
    justify-content: space-around;
  }



/* LAYOUT */



/* ELEMENTS STYLE */